@media (min-width: 960px) {
    .hidden-960px {
        display: none;
    }
    .container {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
}

@media (max-width: 959px) {
    .hidden-768px {
        display: none;
    }
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
    .logo {
        display: block;
        margin-left: 5px;
    }
    .nav--header {
        float: left;
        margin-top: 28px;
        margin-left: 3px;
    }
    .nav__item--header {
        padding: 0 2px 0 2px;
    }
    .nav__item--header--item5 {
        margin-left: 47px;
    }
    .nav__item--header--item4 {
        margin-left: 48px;
    }
    .nav__item--header--item3 {
        margin-left: 48px;
    }
    .nav__item--header--item2 {
        margin-left: 48px;
    }
    .nav__item--header--item1 {
        margin-left: 48px;
    }
    /* SLIDER */
    .slider {
        margin-top: 135px;
    }
    .slider__arrow--left {
        top: 63%;
        left: -3%;
    }
    .slider__arrow--right {
        top: 63%;
        right: -3%;
    }
    .slider__content {
        height: 180px;
        margin-left: 29px;
        margin-top: 104px;
    }
    .slider__header {
        margin-left: 1px;
        color: #fefefe;
        font: 400 48px / 36px 'League Gothic';
    }
    .slider__subheader {
        margin-top: 7px;
        color: #edbfff;
        font: 400 24px / 36px 'League Gothic';
    }
    .slider__paragraph {
        width: 272px;
        margin-top: 3px;
        color: #ffffff;
        font: 300 16px / 26px 'Open Sans';
    }
    .slider__img--img1 {
        top: -23px;
        left: 433px;
    }
    .slider__nav {
        margin-top: 37px;
        margin-right: 145px;
    }
    /* ABOUT */
    .about {
        height: 343px;
        margin-top: -71px;
    }
    .about__block {
        height: 194px;
        width: 205px;
        margin-top: 76px;
    }
    .about__block--block1--left {
        margin-left: 16px;
    }
    .about__block--block1--center {
        margin-left: 43px;
    }
    .about__block--block1--right {
        margin-left: 52px;
    }
    .about__icon--icon1 {
        height: 25px;
        width: 24px;
        background: url(../img/icon/icon.png);
        background-position: 0 0;
    }
    .about__block>h3 {
        color: #ffffff;
        font: 400 24px / 24px 'League Gothic';
        left: 53px;
        top: 1px;
    }
    .about__block>p {
        width: 151px;
        margin-top: -6px;
        top: 35px;
        left: 53px;
    }
    .about__link {
        top: 178px;
        left: 143px;
    }
    .about__link--link3 {
        left: 121px;
        left: 147px;
    }
    /* FEEDBACK AND BLOG */
    .feedback {
        width: 338px;
    }
    .feedback__block {
        width: 338px;
        margin-left: 29px;
    }
    .feedback__block {
        height: 272px;
        width: 313px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.05);
    }
    .feedback__subheader {
        height: 42px;
        width: 90px;
        margin-top: 28px;
        color: #454545;
        font: 400 24px / 24px 'League Gothic';
    }
    .feedback__text {
        margin-left: 0;
    }
    .feedback__paragraph {
        margin: 15px 41px 0 39px;
    }
    .feedback__nav {
        margin-left: 139px;
        margin-top: 23px;
    }
    .blog {
        width: 328px;
        margin-left: 62px;
    }
    .blog__item {
        width: 261px;
    }
    .blog__text {
        letter-spacing: 0.27px;
    }
    .blog__img--img2 {
        margin-top: 16px;
    }
    .blog__img--img3 {
        margin-top: 14px;
    }
    /* SPONSOR */
    .sponsor__item {
        margin-top: 27px;
    }
    .sponsor__item--item1 {
        margin-left: 8px;
    }
    .sponsor__item--item2 {
        margin-left: 51px;
    }
    .sponsor__item--item3 {
        margin-left: 50px;
    }
    .sponsor__item--item4 {
        margin-left: 63px;
    }
    .sponsor__item--item5 {
        margin-left: 54px;
    }
    .sponsor__item--item6 {
        margin-left: 53px;
    }
    /* COMMENTS */
    .comments__block {
        height: 198px;
        width: 206px;
    }
    .block3__header {
        color: #454444;
        font: 400 24px / 24px 'League Gothic';
    }
    .comments__block--block3--left {
        margin-left: 5px;
    }
    .comments__block--block3--center {
        margin-left: 60px;
    }
    .comments__block--block3--right {
        margin-left: 57px;
    }
    /* FOOTER */
    .footer {
        width: 100%;
        height: 201px;
        background: url(../img/background/footer768.png);
        background-size: cover;
    }
    .nav--footer {
        margin-left: 4px;
        display: block;
    }
    .copyright {
        float: none;
        margin-top: 94px;
        margin-left: 61px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
    }
    .logo {
        margin-left: 155px;
    }
    .nav--header {
        display: none;
    }
    .nav--480px {
        display: block;
        width: 245px;
        margin: 22px auto 0 auto;
        text-align: center;
    }
    .nav__link--480px {
        color: #ffffff;
        font: 400 24px / 42px 'League Gothic';
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    }
    .nav__link--link1--480px {
        border-bottom: 2px solid #edbfff;
        padding: 0 6px 2px 6px;
    }
    .nav__item--480px {
        z-index: 5;
        height: 42px;
        box-sizing: border-box;
        border-top: 1px solid #5f486a;
        border-bottom: 1px solid #3e3146;
    }
    .nav__item--480px--item1 {
        position: relative;
        height: 47px;
        padding-right: 2px;
        padding-top: 5px;
        border-top: 0;
        border-bottom: 0;
    }
    .nav--dropdown {
        display: none;
    }
    .nav__item--480px--item6 {
        border-bottom: 0;
    }
    .nav__link--480px:hover {
        border-bottom: 2px solid #edbfff;
    }
    .nav__link--480px:active {
        display: block;
        border-bottom: 2px solid #edbfff;
        background-color: rgba(43, 34, 49, 0.7);
    }
    .nav__item--480px--item1:hover {
        background-color: rgba(64, 51, 72, 0.7);
        border-radius: 10px 10px 0 0;
        border-top: 1px;
        border-bottom: 0;
        border-left: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: #000;
    }
    .nav__item--480px--item1:hover>.nav--dropdown {
        position: absolute;
        display: block;
        width: 245px;
        top: 46px;
        left: -1px;
        right: 0;
        box-sizing: border-box;
        padding-right: 2px;
        background-color: rgba(64, 51, 72, 0.7);
        border-radius: 0 0 10px 10px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: #000;
    }
    /* SLIDER */
    .hidden-480px {
        display: none;
    }
    .main {
        height: 869px;
    }
    .slider {
        height: 246px;
        margin-top: 95px;
    }
    .slider__arrow--left {
        top: 38%;
        left: -1%;
    }
    .slider__arrow--right {
        top: 38%;
        right: -1%;
    }
    .slider__content {
        margin-top: 99px;
        margin-left: 30px;
    }
    .slider__header {
        color: #fefefe;
        font: 400 36px / 24px 'League Gothic';
    }
    .slider__subheader {
        color: #edbfff;
        font: 400 18px / 24px 'League Gothic';
        margin-top: 5px;
    }
    .slider__img--img1 {
        height: 304px;
        width: 192px;
        top: -9px;
        left: 248px;
        background-position: center center;
        background-size: cover;
    }
    .slider__nav {
        margin-top: 21px;
        margin-left: 189px;
        float: none;
    }
    /* ABOUT */
    .about {
        border-top: 1px solid #37293e;
        border-bottom: 1px solid #21333b;
        height: 597px;
        margin-top: -320px;
    }
    .about__block {
        height: 136px;
        width: 429px;
        margin-top: 74px;
        margin-left: 22px;
    }
    .about__block>h3 {
        color: #ffffff;
        font: 400 24px / 24px 'League Gothic';
        left: 53px;
        top: 1px;
    }
    .about__block>p {
        width: 370px;
        margin-top: -6px;
        top: 35px;
        left: 53px;
    }
    .about__link {
        top: 113px;
        left: 367px;
    }
    .about__block--block1--center {
        margin-top: 18px;
    }
    .about__block--block1--right {
        margin-top: 22px;
    }
    /* FEEDBACK AND BLOG */
    .feedback {
        width: 452px;
        margin-top: 68px;
        margin-left: 6px;
    }
    .feedback__block {
        width: 417px;
    }
    .feedback__subheader {
        width: 212px;
        height: 22px;
        font: 400 30px / 24px 'League Gothic';
        margin-left: 40px;
        margin-top: 32px;
        text-transform: uppercase;
        letter-spacing: -0.3px;
    }
    .feedback__paragraph {
        margin: 18px 5px 0 39px;
    }
    .feedback__text {
        margin-left: 2px;
    }
    .feedback__img {
        top: 19px;
    }
    .feedback__nav {
        margin-left: 180px;
        margin-top: 24px;
    }
    .blog {
        margin-left: 74px;
        margin-top: 50px;
    }
    /* SPONSOR */
    .sponsor {
        height: 232px;
        margin-top: 89px;
    }
    .sponsor__item {
        margin-top: 39px;
        margin-bottom: -14px;
    }
    .sponsor__item--item1 {
        margin-left: 74px;
    }
    .sponsor__item--item4 {
        margin-left: 59px;
    }
    /* COMMENTS */
    .comments {
        height: 667px;
    }
    .comments__block {
        height: 129px;
        width: 440px;
        margin-left: 9px;
    }
    .comments__block--block3--left {
        margin-top: 79px;
    }
    .comments__block--block3--center {
        margin-top: 56px;
    }
    .comments__block--block3--right {
        margin-top: 59px;
    }
    /* FOOTER */
    .nav--footer {
        margin-left: 12px;
    }
    .nav__item--footer {
        margin-left: 23px;
    }
    .nav__item--footer--item5 {
        margin-left: 22px;
    }
    .nav__item--footer--item6 {
        margin-left: 0;
    }
    .copyright {
        margin-top: 16px;
        margin-left: 162px;
    }
}

@media (max-width: 479px) {
    .hidden-320px {
        display: none;
    }
    .container {
        width: 320px;
        margin: 0 auto;
    }
    .logo {
        margin-left: 87px;
    }
    /* SLIDER */
    .slider {
        height: 200px;
        background: none;
    }
    .slider__content {
        margin-top: 98px;
        margin-left: 69px;
    }
    .slider__nav {
        margin-top: 27px;
        margin-left: 122px;
    }
    /* ABOUT */
    .about {
        margin-top: -353px;
    }
    .about__block {
        margin-top: 68px;
        margin-left: 34px;
        width: 267px;
    }
    .about__block--block1--center {
        margin-top: 18px;
    }
    .about__block--block1--right {
        margin-top: 34px;
    }
    .about__block>p {
        width: 200px;
    }
    .about__link {
        left: 208px;
    }
    /* COMMENT AND BLOG */
    .feedback {
        width: 280px;
        margin-left: 18px;
    }
    .feedback__block {
        width: 256px;
    }
    .feedback__subheader {
        height: 42px;
        width: 90px;
        margin-top: 25px;
        margin-left: 36px;
        color: #454545;
        font: 400 24px / 24px 'League Gothic';
    }
    .feedback__text {
        margin-left: 0;
    }
    .feedback__paragraph {
        margin: 11px 2px 0 39px;
    }
    .feedback__nav {
        margin-left: 120px;
    }
    .blog {
        margin-left: 23px;
    }
    .blog__img--img2 {
        margin-top: 12px;
    }
    .blog__img--img3 {
        margin-top: 19px;
    }
    /* SPONSOR */
    .sponsor {
        height: 422px;
    }
    .sponsor__item--item1 {
        margin-left: 66px;
        margin-top: 55px;
    }
    .sponsor__item--item3 {
        margin: 72px 0 0 74px;
    }
    .sponsor__item--item4 {
        margin-left: 63px;
        margin-bottom: 0;
    }
    .sponsor__item--item5 {
        margin-left: 46px;
    }
    .copyright {
        margin-top: 32px;
        margin-left: 95px;
    }
}
